@model RatesCalc.Web.Models.CustomerDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<hr />
<div class="row">
    <div class="col-md-3">
        <h4>Customer</h4>
        <form asp-action="Details">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalId" class="control-label"></label>
                <input asp-for="PersonalId" class="form-control" disabled />
                <span asp-validation-for="PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" disabled />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            @*<div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>*@
        </form>
    </div>
    <div class="col-md-9">
        <h4>Agreements</h4>
        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Select</th>
                        <th>Amount</th>
                        <th>Base rate code</th>
                        <th>Margin</th>
                        <th>Agreement duration</th>
                        <th>Current base rate</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Agreements)
                    {
                        <tr>
                            <td>
                                <input asp-for="@item.Id" type="radio" value="@item.Id" name="AgreementRadioButton" />
                            </td>
                            <td>@item.Amount</td>
                            <td>
                                <select class="form-control" name="SelectedTags" data-agreement-id="@item.Id">
                                    @{
                                        foreach (var code in @item.AvailableCodeRates)
                                        {
                                            <option value="@code" selected="@(code.Equals(@item.BaseRateCode) ? "selected" : null)">
                                                @code
                                            </option>
                                        }
                                    }
                                </select>
                            </td>
                            <td>@item.Margin</td>
                            <td>@item.AgreementDuration</td>
                            <td>@await item.GetInterestRateValue(@item.BaseRateCode)</td>
                        </tr>
                    }

                </tbody>
            </table>
            @Html.AntiForgeryToken()
            <input type="button" value="Calculate Rates" class="btn btn-primary" onclick="calculateInterestRate();" />
            <div id="calculated-results" class="pt-3"></div>
        </div>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

